* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallow {
  position: relative;
  margin: 0 auto;
  padding-top: 10vh;

  max-width: 320px;
  height: 500px;

  text-align: center;
}

.beam {
  display: none;
  position: absolute;
  bottom: 25%;
  right: 0;
}

.head {
  display: none;
  position: absolute;
  bottom: 52%;
  left: 21.5%;
}

.body {
  display: none;
  position: absolute;
  bottom: 32%;
  left: 33.5%;
}

.rightHand {
  display: none;
  position: absolute;
  bottom: 45%;
  left: 22.5%;
}

.leftHand {
  display: none;
  position: absolute;
  bottom: 45%;
  left: 34.5%;
}

.rightLeg {
  display: none;
  position: absolute;
  bottom: 24%;
  left: 18.8%;
}

.leftLeg {
  display: none;
  position: absolute;
  bottom: 24%;
  left: 33.5%;
}

.word {
  margin: 0 auto;
  width: 300px;
  height: 50px;

  list-style-type: none;

  display: flex;
  justify-content: center;
  gap: 15px;

  font-size: 25px;
  align-items: flex-end;

  margin-bottom: 40px;
}

.panel {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.panel__char-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.target-char {
  color: black;
  font-size: 25px;
}
